@model PCGAuthoring.Models.Room

@{
    ViewData["Title"] = "Details|Rooms";
}

<h1>Room Details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <!-- Item List -->
        <dt class="col-sm-2">
            Items
        </dt>
        <dd class="col-sm-10">
            @{
                List<PCGAuthoring.Models.ViewModels.AssignedItemData> items = ViewBag.Items;

                foreach (var item in items)
                {
                    <span style="padding-right:2rem;">
                        <!-- Name (min-max) -->
                        @item.AssignedItemName (@item.AssignedMin - @item.AssignedMax)
                    </span>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Generate" asp-route-id="@Model.Id">Generate</a>
</div>
